@charset "utf-8";
//@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,300&display=swap');
$c-base: #333;
$c-key1: #29e;//58b
$c-key2: #e92;
html {
	width: 100%;
	height: initial;
	scroll-behavior: smooth;
}
body {
	background-color: rgba($c-key1,.05);//#f6fafc;//;f2f6f8
	color: $c-base;
	font-family: '游ゴシック体', YuGothic, 'Yu Gothic Medium', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'メイリオ', meiryo, sans-serif;
	-webkit-text-size-adjust: 100%;
	font-size: 4vw;
	line-height: 1.3;
	padding: 0 0 0;
	@include kerning;
	@include pc {
		font-size: 18px;
	}
}
.pc {
	@include sp {
		display: none;
	}
}
.sp {
	@include pc {
		display: none;
	}
}
img {
	height: auto;
	max-width: 100%;
	vertical-align: bottom;
}
a {
	color: $c-base;
	text-decoration: none;
	//transition: opacity .5s;
	transition: .3s;
	&:hover {
		color: $c-key1;
		//opacity: .6;
	}
	&[href^="tel:"] {
		pointer-events: none;
	}
}
p {
	text-align: justify;
	//text-align-last: justify;
	text-justify: inter-ideograph;
}
.mincho {
	font-family: 'Yu Mincho', YuMincho, serif;
}

// common
//------------------------------
.content-wrap {
	margin: 0 auto;
	@include pc {
		display: flex;
		width: $pc-width;
	}
}
.aside {
	@include pc {
		width: 300px;
	}
}
.wrap {
	position: relative;
	@include pc {
		margin: 0 auto;
		width: $pc-width;
	}
}

// header
//------------------------------
.header {
	border-bottom: 4px solid $c-key1;
	//box-shadow: 0 0 20px rgba(#000,.2);
	font-weight: bold;
	//position: fixed;
	width: 100%;
	z-index: 1000;
}
.header-wrap {
	align-items: center;
	background: url("../img/header-bg.jpg") center center no-repeat;
	background-size: cover;
	display: flex;
	height: 60px;
	padding: 10px 0;
	@include pc {
		height: 200px;
		padding: 15px 0;
	}
}
.logo {
	align-items: center;
	//background: #eee;
	display: flex;
	//height: 50px;
	//justify-content: center;
	margin: 0 auto;
	//width: 200px;
	@include sp {
		filter: drop-shadow(0 0 2px rgba(#fff,1)) drop-shadow(0 0 4px rgba(#fff,1)) drop-shadow(0 0 6px rgba(#fff,1));
		padding: 0 20vw;
	}
}
.hnav-wrap {
	@include sp {
		//height: 60px;
		//height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
	@include pc {
		background-color: #fff;
		display: flex;
		padding: 15px 0;
	}
}
.hnav {
	@include sp {
		background-color: rgba(#fff,.9);
		border: 5px solid $c-key1;
		//height: 100%;
		position: absolute;
		opacity: 0;
		transition: .3s;
		visibility: hidden;
		width: 100%;
		z-index: 1000;
	}
	label {
		@include sp {
			display: block;
			padding: 60px 0;
		}
	}
	ul {
		@include sp {
			//height: calc(100% - 70px);
			//position: fixed;
			text-align: center;
			//top: 70px;
			//width: 100%;
		}
		@include pc {
			align-items: center;
			display: flex;
			height: 100%;
			justify-content: center;
		}
	}
	li {
		@include pc {
			margin: 0 15px;
		}
		a {
			@include sp {
				display: inline-block;
				padding: 10px 0;
			}
		}
	}
}
.gnav-btn {
	background: rgba(#fff,.9);
	height: 40px;
	//padding: 5px;
	position: absolute;
	right: 10px;
	//top: 50%;
	top: 10px;
	//transform: translate(0,-50%);
	width: 40px;
	z-index: 10000;
	@include pc {
		display: none;
	}
	i {
		&, &::before, &::after {
			background-color: $c-key1;
			content: '';
			display: block;
			height: 2px;
			position: absolute;
			transition: .3s;
			width: 100%;
		}
		& {
			left: 5px;
			top: calc(50% - 1px);
			width: calc(100% - 10px);
		}
		&::before {
			top: -10px;
		}
		&::after {
			bottom: -10px;
		}
	}
}
#gnav {
	display: none;
	@include sp {
		&:checked {
			~ .hnav {
				opacity: 1;
				visibility: visible;
			}
			~ .gnav-btn {
				i {
					background-color: transparent;
					&::before {
						top: 50%;
						transform: translate(0,-50%) rotate(225deg);
					}
					&::after {
						bottom: 50%;
						transform: translate(0,50%) rotate(-225deg);
					}
				}
			}
		}
	}
}
.breadcrumb {
	font-size: 2vw;
	line-height: 1;
	@include pc {
		font-size: 12px;
	}
	ul {
		display: flex;
		padding: 15px 3vw;
		@include pc {
			margin: 0 auto;
			padding: 30px 0;
			width: $pc-width;
		}
	}
	li {
			align-items: center;
			display: flex;
			justify-content: center;
		+ li {
			&::before {
				border-top: 1px solid $c-key1;//#888
				border-right: 1px solid $c-key1;//#888
				content: '';
				display: block;
				height: 6px;
				margin: 0 5px;
				transform: rotate(45deg);
				width: 6px;
			}
		}
	}
}
.footer {
	background-color: $c-key1;
	color: #fff;
	padding: 30px 0;
	text-align: center;
	@include pc {
		margin: 30px 0 0;
	}
	a {
		color: #fff;
	}
	.copyright {
		font-size: 12px;
		margin: 15px 0 0;
	}
}

// main
//------------------------------
.main {
	position: relative;
	margin: 0 3vw;
	@include pc {
		margin: 0 30px 0 0;
	}
}
.main-content {
	background-color: #fff;
	padding: 3vw;
	position: relative;
	@include pc {
		padding: 30px;
		width: 100%;
	}
	h1 {
		font-size: 180%;
		font-weight: bold;
		margin: 0 0 30px;
		@include pc {
			font-size: 220%;
		}
	}
	h2 {
		border-bottom: 3px solid $c-key1;
		font-size: 160%;
		font-weight: bold;
		margin: 60px 0 30px;
		@include pc {
			font-size: 180%;
		}
	}
	h3 {
		color: $c-key1;
		font-size: 120%;
		font-weight: bold;
		margin: 30px 0 15px;
		@include pc {
			font-size: 140%;
		}
	}
	.point {
		color: #f80;
		font-size: 150%;
		font-weight: bold;
		margin: 20px 0 15px;
		text-align: center;
	}
	p {
		line-height: 1.6;
		margin: 15px 0 0;
	}
	div {
		margin: 15px 0 0;
	}
	li {
		margin: 10px 0 0;
	}
	a {
		border-bottom: 1px solid $c-key1;
		&:hover {
			border-bottom: 2px solid $c-key1;
		}
		&[href*="#"] {
			border-bottom: 1px dotted #888;
			&:hover {
				border-bottom: 1px dotted $c-key1;
				color: #888;
			}
		}
	}
	b {
		font-weight: bold;
	}
	em {
		background: linear-gradient(to bottom, transparent 49%, #fc0 50%, #ff0 100%);
		font-weight: bold;
	}
	u {
		border-bottom: 2px solid #f80;
		font-weight: bold;
		text-decoration: none;
	}
	table {
		margin: 15px 0 0;
		width: 100%;
	}
	caption {
		background-color: $c-key1;
		color: #fff;
		font-weight: bold;
		margin: 15px 0;
		padding: 10px 0;
		text-align: center;
	}
	th, td {
		border: 1px solid #ddd;
		max-width: 350px;
		min-width: 80px;
		padding: 10px;
		@include sp {
			min-width: 150px;
		}
	}
	th {
		background-color: rgba($c-key1,.1);
		color: $c-key1;
		word-break: keep-all;
	}
	.toc {//目次
		border: 2px dotted #bbb;
		margin: 30px 0;
		padding: 3vw;
		@include pc {
			padding: 30px;
		}
		h2 {
			margin: 0 0 15px;
		}
	}
	.ovf {//overflow
		@include sp {
			overflow-x: scroll;
		}
	}
	.pic {
		margin: 15px 0 0;
		text-align: center;
		a {
			border-bottom: none;
		}
	}
	.btn {
		margin: 30px 0 0;
		a {
			align-items: center;
			background: linear-gradient(to bottom, #e00, #b00);
			background-color: #e00;
			border: none;
			border-radius: 10px;
			box-shadow: 0 5px 0 0 #bbb;
			color: #fff;
			display: flex;
			height: 60px;
			font-size: 150%;
			font-weight: bold;
			justify-content: center;
			margin: 0 auto;
			position: relative;
			top: 0;
			width: 100%;
			animation: btnani 2s infinite;
			@include pc {
				font-size: 180%;
				height: 80px;
				width: 80%;
			}
			&:hover {
				border: none;
				box-shadow: 0 0 0 0 #bbb;
				top: 5px;
				animation: none;
			}
		}
	}
@keyframes btnani {
	0% {
		box-shadow: 0 5px 0 0 #bbb;
		top: 0;
	}
	25% {
		box-shadow: 0 0 0 0 #bbb;
		top: 5px
	}
	50% {
		box-shadow: 0 5px 0 0 #bbb;
		top: 0;
	}
}
	.cta {
		background-color: rgba($c-key2, .1);
		//border-radius: 10px;
		margin: 30px 0;
		.head {
			background-color: rgba($c-key2, 1);
			//border-radius: 10px 10px 0 0;
			color: #fff;
			display: block;
			font-size: 150%;
			font-weight: bold;
			padding: 10px 0;
			text-align: center;
		}
		.body {
			padding: 0 3vw 6vw 3vw;
			@include pc {
				padding: 0 50px 50px 50px;
			}
			picture {
				display: block;
				padding: 15px 0;
			}
		}
		.s {
			font-size: 90%;
		}
		.box {
			background-color: #fff;
			border: 2px solid #444;
			border-radius: 10px;
			font-size: 110%;
			padding: 10px;
			@include pc {
				font-size: 130%;
				padding: 20px;
			}
		}
		.btn {
			p {
				text-align: center;
				b {
					position: relative;
					&::before,
					&::after {
						background-color: #e00;
						content: '';
						display: inline-block;
						height: 30px;
						margin: 0px 12px -8px;
						width: 2px;
					}
					&::before {
						transform: rotate(-30deg);
					}
					&::after {
						transform: rotate(30deg);
					}
				}
			}
		}
	}
}
// side
//------------------------------
.snav {
	font-size: 90%;

	@include sp {
		background-color: rgba($c-key1,.3);
		padding: 30px 3vw;

	}
	h2 {
		border-bottom: 2px solid #888;
		color: $c-key1;
		font-size: 120%;
		font-weight: bold;
		margin: 20px 0 10px;
	}
	h3 {
		border-bottom: 1px solid #888;
		color: $c-key1;
		font-size: 110%;
		font-weight: bold;
		margin: 0 0 5px;
	}
	p {
		margin: 0 0 5px;
	}
	li {
		margin: 0 0 5px;
	}
}